measurements/**/build/**
algorithms/debug_log.txt
algorithms/output/
figs/
output/
# Python cache
__pycache__/
*.py[cod]
# OS
.DS_Store
# generated results
**/*_comms_trace.csv
**/best_summary_*.json
**/debug_*.txt
**/pim_sim_*.txt
#
submodules/CENT
submodules/LLMCompass
verify/evaluate_single_test
verify/hw_hardware_1gpu_4aim
verify/hardware_1gpu_2aim
verify/hardware_1npu_2aim
verify/hw_hardware_1gpu_2aim