/measurements/**/build/**
/algorithms/debug_log.txt
/algorithms/output/
/algorithms/output_test2/
/algorithms/pkl/
/algorithms/output_test/
/algorithms/job*/
figs/
output/
# Python cache
__pycache__/
*.py[cod]
# OS
.DS_Store
# generated results
**/*_comms_trace.csv
**/best_summary_*.json
**/debug_*.txt
**/pim_sim_*.txt
#
submodules/CENT
submodules/LLMCompass
verify/sst64_rst64
verify/sst8_rst8
verify/sst2_rst2
/algorithms/*.out
/algorithms/*.sh
/algorithms/*.slurm
/verify/hw_hardware_1gpu_2aim/
/verify/hw_hardware_1npu_2aim/measurements/relayout/**/*.trace
measurements/relayout/**/sim_stdout.txt
measurements/relayout/**/summary.json
readme.md.bak
